.map-view-row {
  display: flex;
  flex-direction: column;
}

@media (min-width: 769px) {
  .map-view-row {
    flex-direction: row;
  }

  main.map-view {
    height: 100vh;
  }

  .map-view-container {
    height: 100%;
  }

  .map-view-row {
    height: 100%;
    overflow-y: hidden;
  }

  .map-col {
    height: 100%;
  }

  .control-col {
    height: 100%;
    overflow-y: auto;
  }
}

@media (max-width: 769px) {
  .map-view-row {
    flex-direction: column;
  }

  .map-col {
    height: 500px;
  }
}
