@media (min-width: 769px) {
  main.map-view {
    height: 100vh;
  }

  .map-view-container {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .map-view-row {
    overflow-y: hidden;
    flex-grow: 1;
  }

  .map-col {
    height: 100%;
  }

  .control-col {
    height: 100%;
    overflow-y: auto;
  }
}

@media (max-width: 769px) {
  .map-col {
    height: 500px;
  }
}
